In [1]:
import pandas as pd
import numpy as np

In [2]:
outside_temp1 = pd.read_excel('Original data/Data_round1.xlsx', sheet_name='Buiten afd')

In [4]:
outside_temp1 = outside_temp1.iloc[:, :8]

In [5]:
outside_temp1 = outside_temp1.rename(columns={'T-  Buiten bij luchtinlaat': 'T- Outside at air inlet','RV- Buiten bij luchtinlaat':'RH- Outside at air inlet'  , 'T- Inlaat voor conditioner':	'T- Inlet for conditioner' , 'RV- Inlaat voor conditioner': 'RH- Inlet for conditioner' ,	'T- Inlaat achter conditioner': 'T- Inlet behind conditioner' , 'RV- Inlaat achter conditioner':'RH- Inlet behind conditioner'})

### Turn to celsius

In [6]:
columns_to_convert = [col for col in outside_temp1.columns if col.startswith('T-')]
outside_temp1[columns_to_convert] = outside_temp1[columns_to_convert].apply(lambda x: round((x - 32) * 5/9,3))

In [7]:
na_count = outside_temp1.isna().sum()
print(na_count)

Date                            0
Time                            0
T- Outside at air inlet         0
RH- Outside at air inlet        0
T- Inlet for conditioner        0
RH- Inlet for conditioner       0
T- Inlet behind conditioner     0
RH- Inlet behind conditioner    0
dtype: int64

In [8]:
outside_temp1['Round'] = 1

# Round 2

In [9]:
outside_temp2 = pd.read_excel('Original data/Data_round2.xlsx', sheet_name='Buiten afd')

In [11]:
outside_temp2 = outside_temp2.iloc[:, :8]

In [12]:
outside_temp2 = outside_temp2.rename(columns={'T-  Buiten bij luchtinlaat': 'T- Outside at air inlet','RV- Buiten bij luchtinlaat':'RH- Outside at air inlet'  , 'T- Inlaat voor conditioner':	'T- Inlet for conditioner' , 'RV- Inlaat voor conditioner': 'RH- Inlet for conditioner' ,	'T- Inlaat achter conditioner': 'T- Inlet behind conditioner' , 'RV- Inlaat achter conditioner':'RH- Inlet behind conditioner'})

### Turn to celsius

In [13]:
columns_to_convert = [col for col in outside_temp2.columns if col.startswith('T-')]
outside_temp2[columns_to_convert] = outside_temp2[columns_to_convert].apply(lambda x: round((x - 32) * 5/9,3))

In [14]:
na_count = outside_temp2.isna().sum()
print(na_count)

Date                            0
Time                            0
T- Outside at air inlet         0
RH- Outside at air inlet        0
T- Inlet for conditioner        0
RH- Inlet for conditioner       0
T- Inlet behind conditioner     0
RH- Inlet behind conditioner    0
dtype: int64

In [15]:
outside_temp2['Round'] = 2

# Round 3

In [16]:
outside_temp3 = pd.read_excel('Original data/Data_round3.xlsx', sheet_name='Buiten afd')

In [17]:
outside_temp3

,Date,Time,T- Buiten bij luchtinlaat,RV- Buiten bij luchtinlaat,T- Inlaat voor conditioner,RV- Inlaat voor conditioner,T- Inlaat achter conditioner,RV- Inlaat achter conditioner,Unnamed: 8,Date.1,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,2022-11-04,12:00:00,53.4,82.8,53.2,83.7,51.6,85.1,NaN,2022-11-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
1,2022-11-04,12:05:00,54.7,80.1,53.7,81.6,52.0,85.7,NaN,2022-11-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
2,2022-11-04,12:10:00,55.3,77.3,54.1,81.0,52.5,84.0,NaN,2022-11-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
3,2022-11-04,12:15:00,55.8,76.8,54.0,80.4,52.8,83.0,NaN,2022-11-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
4,2022-11-04,12:20:00,55.3,77.3,53.6,81.7,53.1,81.7,NaN,2022-11-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10868,2022-12-12,05:40:00,24.3,100.0,26.1,94.7,41.9,50.8,NaN,2022-12-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10869,2022-12-12,05:45:00,24.3,100.0,26.2,94.7,42.0,50.9,NaN,2022-12-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10870,2022-12-12,05:50:00,24.3,100.0,26.2,94.3,42.0,50.8,NaN,2022-12-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10871,2022-12-12,05:55:00,24.1,100.0,25.9,94.5,41.9,50.4,NaN,2022-12-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10872,2022-12-12,06:00:00,24.2,100.0,26.0,94.5,42.1,50.2,NaN,2022-12-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
outside_temp3 = outside_temp3.iloc[:, :8]

In [19]:
outside_temp3 = outside_temp3.rename(columns={'T-  Buiten bij luchtinlaat': 'T- Outside at air inlet','RV- Buiten bij luchtinlaat':'RH- Outside at air inlet'  , 'T- Inlaat voor conditioner':	'T- Inlet for conditioner' , 'RV- Inlaat voor conditioner': 'RH- Inlet for conditioner' ,	'T- Inlaat achter conditioner': 'T- Inlet behind conditioner' , 'RV- Inlaat achter conditioner':'RH- Inlet behind conditioner'})

### Turn to celsius

In [20]:
columns_to_convert = [col for col in outside_temp3.columns if col.startswith('T-')]
outside_temp3[columns_to_convert] = outside_temp3[columns_to_convert].apply(lambda x: round((x - 32) * 5/9,3))

In [21]:
na_count = outside_temp3.isna().sum()
print(na_count)

Date                            0
Time                            0
T- Outside at air inlet         0
RH- Outside at air inlet        0
T- Inlet for conditioner        0
RH- Inlet for conditioner       0
T- Inlet behind conditioner     0
RH- Inlet behind conditioner    0
dtype: int64

In [22]:
outside_temp3['Round'] = 3

In [23]:
outside_temp = pd.concat([outside_temp1, outside_temp2, outside_temp3], ignore_index=True)

In [24]:
print("First date in ctrl:", outside_temp['Date'].min())
print("Last date in ctrl:", outside_temp['Date'].max())

First date in ctrl: 2022-07-22 00:00:00
Last date in ctrl: 2022-12-12 00:00:00

# Control area

In [25]:
ctrl1 = pd.read_excel('Original data/Data_round1.xlsx', sheet_name='Controle afd')
ctrl2 = pd.read_excel('Original data/Data_round2.xlsx', sheet_name='Controle afd')
ctrl3 = pd.read_excel('Original data/Data_round3.xlsx', sheet_name='Controle afd')

In [26]:
ctrl1 = ctrl1.iloc[:, :16]
ctrl1['Round'] = 1
ctrl2 = ctrl2.iloc[:, :16]
ctrl2['Round'] = 2
ctrl3 = ctrl3.iloc[:, :16]
ctrl3['Round'] = 3

In [27]:
ctrl = pd.concat([ctrl1, ctrl2, ctrl3], ignore_index=True)

In [28]:
print("First date in ctrl:", ctrl['Date'].min())
print("Last date in ctrl:", ctrl['Date'].max())

First date in ctrl: 2022-07-22 00:00:00
Last date in ctrl: 2022-12-12 00:00:00

In [29]:
columns_to_convert = [col for col in ctrl.columns if col.startswith('T-')]
ctrl[columns_to_convert] = ctrl[columns_to_convert].apply(lambda x: round((x - 32) * 5/9,3))

In [30]:
na_count = ctrl.isna().sum()
print(na_count)

Date                                           560
Time                                           560
T- Inlaat spleet voor deur -Cntrl.Afd          560
RV- Inlaat spleet voor deur -Cntrl.Afd         560
T- Inlaat spleet buiten muur -Cntrl.Afd        560
RV- Inlaat spleet buiten muur -Cntrl.Afd       560
T- Hokafscheiding voorste hok-Cntrl.Afd        560
RV- Hokafscheiding voorste hok-Cntrl.Afd       560
T- Hokafscheiding achterste hok-Cntrl.Afd      560
RV- Hokafscheiding achterste hok-Cntrl.Afd     560
T- Macro voorste hok-Cntrl Afd                 560
RV- Macro voorste hok-Cntrl Afd                560
T- Macro achterste hok-Cntrl Afd               560
RV- Macro achterste hok-Cntrl Afd              560
T- Afvoerkoker-Cntrl Afd                       560
RV- Afvoerkoker-Cntrl Afd                      560
Round                                            0
dtype: int64

In [31]:
ctrl.dropna(inplace=True)

# Train area

In [32]:
train1 = pd.read_excel('Original data/Data_round1.xlsx', sheet_name='Proef afd')
train2 = pd.read_excel('Original data/Data_round2.xlsx', sheet_name='Proef afd')
train3 = pd.read_excel('Original data/Data_round3.xlsx', sheet_name='Proef afd')

In [33]:
train1 = train1.iloc[:, :16]
train1['Round'] = 1
train2 = train2.iloc[:, :16]
train2['Round'] = 2
train3 = train3.iloc[:, :16]
train3['Round'] = 3

In [34]:
train = pd.concat([train1, train2, train3], ignore_index=True)

In [35]:
columns_to_convert = [col for col in train.columns if col.startswith('T-')]
train[columns_to_convert] = train[columns_to_convert].apply(lambda x: round((x - 32) * 5/9,3))

In [36]:
na_count = train.isna().sum()
print(na_count)

Date                                          0
Time                                          0
T- Inlaat spleet voor deur -Proef.Afd         0
RV- Inlaat spleet voor deur -Proef.Afd        0
T- Inlaat spleet buiten muur -Proef Afd       0
RV- Inlaat spleet buiten muur -Proef Afd      0
T- Hokafscheiding voorste hok-Proef Afd       0
RV- Hokafscheiding voorste hok-Proef Afd      0
T- Hokafscheiding achterste hok-Proef Afd     0
RV- Hokafscheiding achterste hok-Proef Afd    0
T- Macro voorste hok-Proef Afd                0
RV- Macro voorste hok-Proef Afd               0
T- Macro achterste hok-Proef Afd              0
RV- Macro achterste hok-Proef Afd             0
T- Afvoerkoker-Proef Afd                      0
RV- Afvoerkoker-Proef Afd                     0
Round                                         0
dtype: int64

In [37]:
train = train.rename(columns={"T- Inlaat spleet voor deur -Proef.Afd ": "T - Inlet gap for door - Test Dept.",
"RV- Inlaat spleet voor deur -Proef.Afd ": "RH - Inlet gap for door - Test Dept.",
"T- Inlaat spleet buiten muur -Proef Afd ": "T - Inlet gap outside wall - Test Dept.",
"RV- Inlaat spleet buiten muur -Proef Afd ": "RH - Inlet gap outside wall - Test Dept.",
"T- Hokafscheiding voorste hok-Proef Afd": "T - Enclosure front compartment - Test Dept.",
"RV- Hokafscheiding voorste hok-Proef Afd": "RH - Enclosure front compartment - Test Dept.",
"T- Hokafscheiding achterste hok-Proef Afd": "T - Enclosure rear compartment - Test Dept.",
"RV- Hokafscheiding achterste hok-Proef Afd": "RH - Enclosure rear compartment - Test Dept.",
"T- Macro voorste hok-Proef Afd": "T - Macro front compartment - Test Dept.",
"RV- Macro voorste hok-Proef Afd": "RH - Macro front compartment - Test Dept.",
"T- Macro achterste hok-Proef Afd": "T - Macro rear compartment - Test Dept.",
"RV- Macro achterste hok-Proef Afd": "RH - Macro rear compartment - Test Dept.",
"T- Afvoerkoker-Proef Afd": "T - Drainage chute - Test Dept.",
"RV- Afvoerkoker-Proef Afd": "RH - Drainage chute - Test Dept."})

In [38]:
ctrl = ctrl.rename(columns={"T- Inlaat spleet voor deur -Cntrl.Afd": "T - Inlet gap for door - Control Dept.",
"RV- Inlaat spleet voor deur -Cntrl.Afd": "RH - Inlet gap for door - Control Dept.",
"T- Inlaat spleet buiten muur -Cntrl.Afd": "T - Inlet gap outside wall - Control Dept.",
"RV- Inlaat spleet buiten muur -Cntrl.Afd": "RH - Inlet gap outside wall - Control Dept.",
"T- Hokafscheiding voorste hok-Cntrl.Afd": "T - Enclosure front compartment - Control Dept.",
"RV- Hokafscheiding voorste hok-Cntrl.Afd": "RH - Enclosure front compartment - Control Dept.",
"T- Hokafscheiding achterste hok-Cntrl.Afd ": "T - Enclosure rear compartment - Control Dept.",
"RV- Hokafscheiding achterste hok-Cntrl.Afd ": "RH - Enclosure rear compartment - Control Dept.",
"T- Macro voorste hok-Cntrl Afd": "T - Macro front compartment - Control Dept.",
"RV- Macro voorste hok-Cntrl Afd": "RH - Macro front compartment - Control Dept.",
"T- Macro achterste hok-Cntrl Afd": "T - Macro rear compartment - Control Dept.",
"RV- Macro achterste hok-Cntrl Afd": "RH - Macro rear compartment - Control Dept.",
"T- Afvoerkoker-Cntrl Afd": "T - Drainage chute - Control Dept.",
"RV- Afvoerkoker-Cntrl Afd": "RH - Drainage chute - Control Dept."})

In [39]:
train = pd.merge(train, outside_temp, on=['Date', 'Time'])
train.drop(columns=['Round_y'], inplace=True)
train.rename(columns={'Round_x': 'Round'}, inplace=True)

ctrl = pd.merge(ctrl, outside_temp, on=['Date', 'Time'])
ctrl.drop(columns=['Round_y'], inplace=True)
ctrl.rename(columns={'Round_x': 'Round'}, inplace=True)

# Iporting and merging ventilation data

## Training room

In [40]:
vent_train1 = pd.read_excel('Original data/Ventilation data/Train/Trainround1.xlsx', sheet_name='Room ventilation. Ronde 1')
vent_train2 = pd.read_excel('Original data/Ventilation data/Train/Trainround2.xlsx', sheet_name='Room ventilation. Ronde 2')
vent_train3 = pd.read_excel('Original data/Ventilation data/Train/Trainround3.xlsx', sheet_name='Room ventilation. Ronde 3')

In [41]:
vent_train1['Date'] = pd.to_datetime(vent_train1['Date/Time']).dt.date
vent_train2['Date'] = pd.to_datetime(vent_train2['Date/Time']).dt.date
vent_train3['Date'] = pd.to_datetime(vent_train3['Date/Time']).dt.date

In [42]:
vent_train1 = vent_train1.iloc[:, 1:11]
vent_train1['Round'] = 1
vent_train2 = vent_train2.iloc[:, 1:11]
vent_train2['Round'] = 2
vent_train3 = vent_train3.iloc[:, 1:11]
vent_train3['Round'] = 3

In [43]:
vent_train = pd.concat([vent_train1, vent_train2, vent_train3], ignore_index=True)

In [44]:
import pandas as pd
from datetime import datetime, timedelta

vent_train['Time'] = pd.to_datetime(vent_train['Time'].astype(str))

duplicated_vent_train = vent_train.copy()

# Adjust the time by adding 5 minutes to each duplicated row
duplicated_vent_train['Time'] = duplicated_vent_train['Time'] + timedelta(minutes=5)

concatenated_vent_train = pd.concat([vent_train, duplicated_vent_train])

concatenated_vent_train['Time'] = concatenated_vent_train['Time'].dt.time
concatenated_vent_train = concatenated_vent_train.sort_values(by=['Date', 'Time'])

C:\Users\aleza\AppData\Local\Temp\ipykernel_6508\3527084945.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vent_train['Time'] = pd.to_datetime(vent_train['Time'].astype(str))

In [45]:
concatenated_vent_train.reset_index(drop=True, inplace=True)
concatenated_vent_train['Date'] = pd.to_datetime(concatenated_vent_train['Date'])
train['Date'] = pd.to_datetime(train['Date'])

train = pd.merge(train, concatenated_vent_train, on=['Date', 'Time'])

## Control room

In [46]:
vent_ctrl1 = pd.read_excel('Original data/Ventilation data/control/Controlround1.xlsx', sheet_name='Room ventilation. Ronde 1')
vent_ctrl2 = pd.read_excel('Original data/Ventilation data/control/Controlround2.xlsx', sheet_name='Room ventilation. Ronde 2')
vent_ctrl3 = pd.read_excel('Original data/Ventilation data/control/Controlround3.xlsx', sheet_name='Room ventilation. Ronde 3')

In [47]:
vent_ctrl1['Date'] = pd.to_datetime(vent_ctrl1['Date/Time']).dt.date
vent_ctrl2['Date'] = pd.to_datetime(vent_ctrl2['Date/Time']).dt.date
vent_ctrl3['Date'] = pd.to_datetime(vent_ctrl3['Date/Time']).dt.date

In [48]:
vent_ctrl1 = vent_ctrl1.iloc[:, 1:11]
vent_ctrl1['Round'] = 1
vent_ctrl2 = vent_ctrl2.iloc[:, 1:11]
vent_ctrl2['Round'] = 2
vent_ctrl3 = vent_ctrl3.iloc[:, 1:11]
vent_ctrl3['Round'] = 3

In [49]:
vent_ctrl = pd.concat([vent_ctrl1, vent_ctrl2, vent_ctrl3], ignore_index=True)

In [50]:
vent_ctrl['Time'] = pd.to_datetime(vent_ctrl['Time'].astype(str))

duplicated_vent_ctrl = vent_ctrl.copy()

duplicated_vent_ctrl['Time'] = duplicated_vent_ctrl['Time'] + timedelta(minutes=5)

concatenated_vent_ctrl = pd.concat([vent_ctrl, duplicated_vent_ctrl])

concatenated_vent_ctrl['Time'] = concatenated_vent_ctrl['Time'].dt.time
concatenated_vent_ctrl = concatenated_vent_ctrl.sort_values(by=['Date', 'Time'])

C:\Users\aleza\AppData\Local\Temp\ipykernel_6508\229153007.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vent_ctrl['Time'] = pd.to_datetime(vent_ctrl['Time'].astype(str))

In [51]:
concatenated_vent_ctrl.reset_index(drop=True, inplace=True)
concatenated_vent_ctrl['Date'] = pd.to_datetime(concatenated_vent_ctrl['Date'])
train['Date'] = pd.to_datetime(train['Date'])
ctrl = pd.merge(ctrl, concatenated_vent_ctrl, on=['Date', 'Time'])

In [52]:
train.drop(columns=['Round_y'], inplace=True)
train.rename(columns={'Round_x': 'Round'}, inplace=True)

ctrl.drop(columns=['Round_y'], inplace=True)
ctrl.rename(columns={'Round_x': 'Round'}, inplace=True)

# Save the new dataframes :D

In [54]:
train.to_csv('Useful data/train_final.csv', index=False)
ctrl.to_csv('Useful data/ctrl_final.csv', index=False)